@CHARSET "UTF-8";

#row :nth-child(odd) {
	/*background-color:red;*/
	
}

#row :nth-child(even) {
	/*background-color:green;*/
	
}

thead {
	color: whitesmoke;
}

tbody {
	background-color: white;
}

 .table > tfoot > tr > td {
padding: 2px;
/* line-height: 1.42857143; */
/* vertical-align: super; */
border-top: 1px solid #ddd;
}

.spacer5 {
	height: 5px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer10 {
	height: 10px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer15 {
	height: 15px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer20 {
	height: 20px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer25 {
	height: 25px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer30 {
	height: 30px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer35 {
	height: 35px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer40 {
	height: 40px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer45 {
	height: 45px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer50 {
	height: 50px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer100 {
	height: 100px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer200 {
	height: 200px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.main_nav {
	margin: 0;
	background: url('../img/sep/nav_sep.png') no-repeat left bottom;
}

.nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.preview__header {
	font-size: 12px;
	background-color: cornsilk;
	z-index: 100;
	line-height: 54px;
	margin-bottom: 1px;
	position: fixed;
	width: 100%;
}

.login__header {
	font-size: 12px;
	height: 100px;
	background-color: cornsilk;
	z-index: 100;
	line-height: 54px;
	margin-bottom: 1px;
	width: 100%;
}

.preview__envato-logo {
	float: left;
	padding: 0 20px;
}

.login_main_cont {
	margin: 10% auto;
	width: 350px;
}

.login_cont h4 {
	display: block;
	float: left;
	margin: 25px 0;
	width: 100%;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}

.login_form {
	float: left;
	width: 100%;
}

.buton {
	background: indianred;
	border: 0;
	color: #fff;
	height: 45px;
	width: 100%;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 1, 0, 0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0, 1, 0, 0.3);
	box-shadow: 0px 1px 2px rgba(0, 1, 0, 0.3);
}

p {
	margin-bottom: 5px;
	font-family: Raleway, sans-serif;
	color: #717171;
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
}

.link-sign {
	color: indianred;
	text-decoration: none;
}

.modal-signup {
	display: block;
	width: 430px;
	padding: 60px 60px 40px;
	border-radius: 4px;
	background-color: #f2f2f2;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 5px;
}

h2 {
	font-size: 30px;
	align-self: center;
	font-family: sans-serif;
}

h4 {
	font-size: 18px;
	font-family: sans-serif;
	color: indianred;
	margin-top: 35px;
	margin-bottom: 10px;
}

a {
	background: transparent;
	font-family: sans-serif;
	margin-top: 20px;
	color: indianred;
	font-size: 16px;
}

.navbar-inner {
	border: none;
	background: lightgrey;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-trash:before {
	content: "\e020";
}

.menu {
	background-color: cornsilk;
	float: left;
	width: 170px;
	height: 700px;
	padding-top: 100px;
	position: fixed;
}

.compose-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

.btn-compose {
	color: #fff;
	background-color: indianred;
	border-color: indianred;
	width: 95px;
}

.table-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 20px;
	margin-top: 20px;
	float: right;
	width: 83%;
	padding-top: 100px;
}

.search-row {
	margin-right: -15px;
	margin-left: -15px;
	margin-top: 25px;
}

.search-nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	width: 45%;
}

.search-btn-primary {
	color: #fff;
	background-color: indianred;
	border-color: indianred;
	margin-top: 26px;
	margin-left: 15px;
}

.search-btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.left-container {
	width: 40px;
	float: left;
}

.move-btn {
	display: inline-block;
	padding: 3px 9px;
	margin-bottom: 0;
	font-size: 19px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.right-container {
	float: left;
}

.date-container {
	float: right;
}

h5 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.body-container {
	width: 1170px;
	margin-left: 0px;
	padding-left: 0px;
	position: relative;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
	background-color: #333333;
	opacity: 0.8;
	//
	I
	ADDED
	THIS
	LINE
}

textarea {
	overflow: inherit;
	width: 100%;
	/* margin-left: 10px; */
}

.button-link {
	font-weight: 100;
	color: indianred;
	cursor: pointer;
	border-radius: 0;
	font-size: larger;
	background: cornsilk;
}

.autocomplete-suggestions {
	border: 1px solid #aaaaaa;
	background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50%
		50% repeat-x;
	color: #222222;
}

.autocomplete-suggestion {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0;
	/* support: IE7; */
	/* support: IE10, see #8844; */
}

.autocomplete-selected {
	background-color: #aaaaaa;
}

.message-body {
	display: block;
	clear: both;
	overflow: scroll;
	height: 50%;
}

.center-div{
	display: flex;
	justify-content: space-around;
}

.bold {
	font-weight: bold;
}

.font-20{
	font-size: 20px;
}

.search-button{
	color: #fff;
	background-color: indianred;
	border-color: indianred;
	padding: 6px 12px 9px;
	vertical-align: baseline;
}

.user-display {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: inherit;
color: indianred;
}